.quiz-container{
    top:20vh;
    margin-left:10vw;
    margin-right: 10vw;
    padding-top: 20vh;
}

.quizbox{
    z-index: 999;
    width:80vw;
    background-color: white;
    border-style: solid;
    padding: 30px;
    border-width: 5px;
}

.emphasis{
    text-decoration:underline;
}
.break{
    height: 20vh;
}
.linethrough{
    text-decoration: line-through;
}



.infobox{
    z-index: 999;
    width:80vw;

    background-color: white;
    border-style: solid;
    padding: 30px;
    border-width: 5px;
}

.infobox ul{
    margin:0;
    padding: 0;

}
.infobox li{
    list-style-type: none; 
    text-decoration: none;
    margin:0;
    padding: 0;
}
.infobox h3{
    font-family: 'Akzidenz-Grotesk BQ';
}

h5{
font-family: 'Heiti SC';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 12px;
}

/* Customized CheckBox */




@media only screen and (max-width: 600px) {

    h3{
        font-size: 16px;
    }

    .quizbox{
    
        padding: 15px;
        border-width: 3px;
    }

    .container{
        padding: 0;
    }
    label{
        font-size: 13px;
    }

    .submitBtn {
        width: 40vw;
        height:10vh;
        font-size: 25px;
        border-radius: 20px;
        background-color: black;
        color: white;
        transition: 0.5s;
        font-family: 'Akzidenz-Grotesk BQ';
      }

}
