.yellowrec{
  position: absolute;
width: 176px;
height: 23px;
left: 0px;
top: 79px;

background: #E87400;
}

    
      .marquee{
        text-transform: uppercase;
        animation: animate 100s linear infinite;
        user-select:none;
    
      }
    
    
      @keyframes animate{
      100%{
        transform: translate(-100%,0);
    
      }
    }
      

  


    


